:root {
  --yellow: #FFB400;
  --white: #ffffff;
}
#main{
  background-color:#18191A;
  display: flex;
}
#Home{
  display: flex;
}
/* ================================@media============================= */
@media (max-width: 991px) {
  .left-side { display: none;
    left: -300px;}
  .Right-side { display: none;
    margin: -500px;}
  #mide{
    width: 100%;
    margin-left:0: ;
  
  }
  #Home{
    margin:-20%;
    padding: 0;
  }
  
}
@media(min-width: 992px){
  .nav-bar{display: none;}
}
/* ================================@media End========================= */
/* =======================================left-Side=========================================== */
.left-side{
  width: 23%;
  margin-right: 25px;
  background-color: #202122;
  position: relative;

}
.img img{
  width: 150px;
  height: 150px;
  background-color: #fff;
}
.profile{
  position: relative;
}
.img::after{
  content: "";
  background-color: rgb(31, 224, 5);
  border-radius: 50%;
  width:15px;
  height: 15px;
  position: absolute;
  bottom:0;
  right: 31.5%;
 
}
.left-side h4{
  font-size: 18px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: #FFFFFF;
  
}
.left-side p{
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #767676;
  margin-top: -20px;
}
/* ============================== left-icon=================================*/
.left-icon{
  display: flex;
  justify-content: space-between;
 margin-bottom: 30px;
}
.left-icon div{
  height: 22px;
  width:22px;
  background-color: #FFB400;
  text-align: center;
  border-radius: 50%;
  margin:0px 5px ;
}
.left-icon div i{
  font-size:12px;
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}
/* ============================== left-conicon End=================================*/
.brack{
  color: #f8ecec;
 padding: 1.5px 0px;
 
}
/* ============================== left-content=================================*/
.left-content{
  align-items: center;
  display: flex;
}
.left-content h2{
  font-size:15px;
  color: #000;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 5px;
}
.left-content-div1{
  background-color:var(--yellow) ;
}
.left-content-div2 h2{
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}
.left-content-div3 h2{
  font-size: 16px;
  color: #7EB942;
  font-weight: 400;
}
.left-content-div4 h2{
  font-size: 15px;
  color: #fff;
  font-weight: 200;
}
/* ============================== left-content End=================================*/


/* ================================component===================================== */
.component-section{
  margin: 20px 0px;
}
.title{
  text-align: start;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
.component{
  width: 100%;
}
.component-box{
}
.component h2{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.component-border{
  width: 100%;
  height: 13px;
  border: 1px solid #FFB400;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: -5px;
}
.component-item{
  height: 5px;
  background-color: var(--yellow);
  border-radius: 10px;
}
/* ================================component End===================================== */

/* ====================================extra-shills===================================== */
.extra-shills a{
  display: block;
  text-align: start;
  margin: 5px 0px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-weight: 400; 
}
.extra-shills a i{
margin-right: 10px;
color: var(--blue);
}
/* ====================================extra-shills End================================== */
.download-button{
  position: relative;
  width: 100%;
}

.download{
  height: 40px;
  background-color: var(--yellow);
  border: none;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 10px;

}
.download i{
  margin-left: 10px;
  font-size: 15px;
}
/* =======================================left-Side End=========================================== */


/*======================================content============================================ */
#mide{
  width: 70%;

}
.nav-bar{
  height: 80px;
}
.row{
  background-color: #202122;
}
.slide-lorem{
  color: #fff;
  opacity: 40%;
}
/*==================================content End============================================ */
.Right-side{
  width: 7%;
  margin-left: 25px;
}